.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    /* overflow: scroll;
    max-height: 400px; */
}
/* .postS::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
} */
#scroll{
    max-height: 300px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.post-header-info h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.post-body p {
    margin-bottom: 10px;
}

.post-body img {
    max-width: 100%;
    margin-bottom: 10px;
}

.post-footer a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}
.post-footer{
    display: flex;
    justify-content: space-between;
}
/* Set the overflow property to "scroll" to make the element scrollable */
  
  /* Hide the scroll bar */