{% extends 'base.html' %}

{% block content %}

<div class="row " style ="margin-top:110px;">
    <div class="col border border-primary">
        {% for model in notifications %}
        <ul>
          <li>{{model.noti}}<a href="home{{model.id}}"> view post</a></li>
        </ul>
        {% endfor %}
    </div>
    <div class="col-6 border border-danger" style="">
      {% if view_post %}
      <div class="post">
        <div class="post-header">
            <img src="{{view_post.user_pic.url}}" alt="Profile Picture">
            <div class="post-header-info">
                <h2>{{view_post.user}}</h2>
                <p id="successL"></p>
            </div>
        </div>
        <div class="post-body">
          <h5>{{view_post.title}}</h5>
          <p>{{view_post.content}}</p>
          {% comment %} <img src="{{post.image.url}}" alt="Post Image"> {% endcomment %}
        </div>
        <p id="like-button-container"></p>
        <div class="post-footer">
            <div style="display:none;" >{{view_post.id}}</div>
            <div><button id="{{view_post.user}}" class="{{view_post.id}}" onclick="likeFunction('{{view_post.user}}','{{view_post.id}}')"><i class="fa fa-thumbs-up" style="font-size:24px"></i></button> <a id="{{view_post.id}}">{{view_post.like_count}}</a></div>
            <div><a href="#">Comment</a> {{comment}}</div>
            <div><a href="#">Share</a> {{share}}</div>
        </div>
      </div>
      {% else %}
      {% for post in posts %}
      <div class="post">
        <div class="post-header">
            <a href="view_profile{{post.profileId}}"><img src="{{post.user_pic.url}}" alt="Profile Picture"></a>
            <div class="post-header-info">
                <h2>
                  {{post.user}}
                  <a class="form-control pointer" href="relationShip{{post.profileId}}" style="text-decoration:none;cursor:pointer;">
                    {% if post.user in user_names%}
                    unfollow
                    {% else %}
                    follow
                    {% endif %}
                    
                  </a></h2>
                <p id="successL"></p>
            </div>
        </div>
        <div class="post-body">
          <h5>{{post.title}}</h5>
          <p>{{post.content}}</p>
          {% comment %} <img src="{{post.image.url}}" alt="Post Image"> {% endcomment %}
        </div>
        <p id="like-button-container"></p>
        <div class="post-footer">
            <div style="display:none;" >{{post.id}}</div>
            <div><button id="{{post.user}}" class="{{post.id}}" onclick="likeFunction('{{post.user}}','{{post.id}}')"><i class="fa fa-thumbs-up" style="font-size:24px"></i></button>
              {% if post.like_count > 0 %}
              <a id="{{post.id}}">{{post.like_count}}</a>
              {% endif %}
            </div>
            <div><a href="#">Comment</a> {{comment}}</div>
            <div><a href="#">Share</a> {{share}}</div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>

    <div class="col border border-primary">
      <div id="container">
        <img id="profile-pic" src="{{userP.profile_pic.url}}" alt="Profile Picture">
        <h1>{{user_name}}</h1>
        
        <div class="profile-details">
          <p>{{email}}</p>
          <p>{{user_location}}</p>
        </div>
        
        <div class="bio">
          <h2>Bio</h2>
          <p>{{userP.bio}}</p>
        </div>
        
        <h2>Interests</h2>
        <ul>
          {% for interest in user_interest %}
          <li>{{interest}}</li>
          {% endfor %}
        </ul>
        <button><a href="userProfile">Edit profile</a> </button>
      </div>
    </div>
</div>
<button class="floating-circle" title="Create Post" id="createBtn">
  <a href="create_post"><div class="plus-sign">+</div></a>
</button>
{% endblock  %}