{% extends 'base.html' %}

{% block content %}

<div class="row " style ="margin-top:110px;">
    <div class="col border border-primary">
      <div>
        {% for model in notifications %}
        <ul>
          <li>{{model.noti}}</li>
        </ul>
        {% endfor %}
      </div>
    </div>
    <div class="col-6 border border-primary">
      {% for post in posts %}
      <div class="post">
        <div class="post-header">
            <img src="{{post.user_pic.url}}" alt="Profile Picture">
            <div class="post-header-info">
                <h2>{{post.user}}</h2>
                <p id="successL"></p>
            </div>
        </div>
        <div class="post-body">
          <h5>{{post.title}}</h5>
          <p>{{post.content}}</p>
          {% comment %} <img src="{{post.image.url}}" alt="Post Image"> {% endcomment %}
        </div>
        <p id="like-button-container"></p>
        <div class="post-footer">
            <div style="display:none;" >{{post.id}}</div>
            <div><button id="{{post.user}}" class="{{post.id}}" onclick="likeFunction('{{post.user}}','{{post.id}}')"><i class="fa fa-thumbs-up" style="font-size:24px"></i></button> <a id="{{post.id}}">{{post.like_count}}</a></div>
            <div><a href="#">Comment</a> {{comment}}</div>
            <div><a href="#">Share</a> {{share}}</div>
        </div>
      </div>
      {% endfor %}
      
    
        <button class="floating-circle" title="Create Post" id="createBtn">
          <a href="create_post"><div class="plus-sign">+</div></a>
        </button>
    </div>
    <div class="col border border-primary">
      <div id="container">
        <img id="profile-pic" src="{{userP.profile_pic.url}}" alt="Profile Picture">
        <h1>{{user_name}}</h1>
        
        <div class="profile-details">
          <p>{{email}}</p>
          <p>{{user_location}}</p>
        </div>
        
        <div class="bio">
          <h2>Bio</h2>
          <p>{{userP.bio}}</p>
        </div>
        
        <h2>Interests</h2>
        <ul>
          {% for interest in user_interest %}
          <li>{{interest}}</li>
          {% endfor %}
        </ul>
        <button><a href="userProfile">Edit profile</a> </button>
      </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
  function likeFunction(name,id){
    $(document).ready(function(){
      //$(`#${name}`).click(function() {
        var postId = id;
        $.ajax({
          type: 'POST',
          url: '{% url "home" %}',
          data: {
            'post_id': postId,
            'testData':'testData',
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {
            // Update the like count
            $(`#${id}`).text(response.like_count);
            //$('ul').append($("<li></li>").text('notiF'));
          },
          error: function(response) {
            console.log(response);
          }
        });
      //});
    });
  };
  </script>
{% endblock  %}